inc/dbconfig.php
pdf/
products/*
!products/wp-content/
products/wp-content/*
!products/wp-content/themes/
products/wp-content/themes/*
!products/wp-content/themes/iam
forum/*
!forum/Themes/
forum/Themes/*
!forum/Themes/IAM-Redsy
products/wp-content/themes/iam/.DS_Store
products/wp-content/themes/iam/woocommerce/.DS_Store
products/wp-content/themes/iam/woocommerce/checkout/.DS_Store
products/wp-content/themes/iam/woocommerce/emails/.DS_Store
products/wp-content/themes/iam/woocommerce/order/.DS_Store
admin/login.php
forum/Themes/IAM-Redsy/.DS_Store
inc/dbconfigDEV.php
software/*
forum2/*
